
.JACoutline{
border: 2px solid black;
}
.ARIoutline{
border: 2px solid white;
}
.BALoutline{
border: 2px solid black;
}
.CARoutline{
border: 2px solid black;
}
.CINoutline{
border: 2px solid black;
}
.DALoutline{
border: 2px solid grey;
}
.DEToutline{
border: 2px solid white;
}
.HOUoutline{
border: 2px solid red;
}
.LACoutline{
border: 2px solid gold;
}
.MIAoutline{
border: 2px solid orange;
}
.NEoutline{
border: 2px solid red;
}
.NYGoutline{
border: 2px solid white;
}
.OAKoutline{
border: 2px solid grey;
}
.PIToutline{
border: 2px solid gold;
}
.SEAoutline{
border: 2px solid rgb(28, 255, 66);
}
.TENoutline{
border: 2px solid red;
}
.ATLoutline{
border: 2px solid silver;
}
.BUFoutline{
border: 2px solid red;
}
.CHIoutline{
border: 2px solid orange;
}
.CLEoutline{
border: 2px solid orange;
}
.DENoutline{
border: 2px solid navy;
}
.GBoutline{
border: 2px solid gold;
}
.INDoutline{
border: 2px solid white;
}
.KCoutline{
border: 2px solid white;
}
.LARoutline{
border: 2px solid gold;
}
.MINoutline{
border: 2px solid gold;
}
.NOoutline{
border: 2px solid gold;
}
.NYJoutline{
border: 2px solid white;
}
.PHIoutline{
border: 2px solid white;
}
.SFoutline{
border: 2px solid gold;
}
.TBoutline{
border: 2px solid grey;
}
  .ASoutline{
border: 2px solid black;
  }



.JAC{
  background-color: #006778 ;
   border-radius: 10px;
  border: 1px solid #006778;
}
.ARI{
   background-color: #97233f ;
   border-radius: 10px;
  border: 1px solid #97233f;
}
.BAL{
  background-color: #241773 ;
   border-radius: 10px;
  border: 1px solid #241773;
}
.CAR{
  background-color: #0085ca ;
   border-radius: 10px;
  border: 1px solid #0085ca;
}
.CIN{
   background-color: #fb4f14 ;
   border-radius: 10px;
  border: 1px solid #fb4f14;
}
.DAL{
   background-color: #041e42 ;
   border-radius: 10px;
  border: 1px solid #041e42;
}
.DET{
  background-color: #0076b6 ;
   border-radius: 10px;
  border: 1px solid #0076b6;
}
.HOU{
  background-color: #03202f ;
   border-radius: 10px;
  border: 1px solid #03202f;
}
.LAC{
  background-color: #002a5e ;
   border-radius: 10px;
  border: 1px solid #002a5e;
}
.MIA{
    background-color: #008e97 ;
   border-radius: 10px;
  border: 1px solid #008e97;
}
.NE{
    background-color: #002244 ;
   border-radius: 10px;
  border: 1px solid #002244;
}
.NYG{
   background-color: #0b2265 ;
   border-radius: 10px;
  border: 1px solid #0b2265;
}
.OAK{
   background-color: #000000 ;
   border-radius: 10px;
  border: 1px solid #000000;
}
.PIT{
   background-color: #000 ;
   border-radius: 10px;
  border: 1px solid #000;
}
.SEA{
   background-color: #024 ;
   border-radius: 10px;
  border: 1px solid #024;
}
.TEN{
   background-color:#002a5c ;
   border-radius: 10px;
  border: 1px solid #002a5c;
}
.ATL{
   background-color:#a71930 ;
   border-radius: 10px;
  border: 1px solid #a71930;
}
.BUF{
   background-color:#c60c30 ;
   border-radius: 10px;
  border: 1px solid #c60c30;
}
.CHI{
   background-color:#0b162a ;
   border-radius: 10px;
  border: 1px solid #0b162a;
}
.CLE{
   background-color:#ff3c00 ;
   border-radius: 10px;
  border: 1px solid #ff3c00;
}
.DEN{
   background-color:#002244 ;
   border-radius: 10px;
  border: 1px solid #002244;
}
.GB{
   background-color:#203731 ;
   border-radius: 10px;
  border: 1px solid #203731;
}
.IND{
   background-color:#002c5f ;
   border-radius: 10px;
  border: 1px solid #002c5f;
}
.KC{
   background-color:#e31837 ;
   border-radius: 10px;
  border: 1px solid #e31837;
}
.LAR{
   background-color:#002244 ;
   border-radius: 10px;
  border: 1px solid #002244;
}
.MIN{
   background-color:#512d6d ;
   border-radius: 10px;
  border: 1px solid #512d6d;
}
.NO{
   background-color:#d3bc8d ;
   border-radius: 10px;
  border: 1px solid #d3bc8d;
}
.NYJ{
   background-color:#003f2d ;
   border-radius: 10px;
  border: 1px solid #003f2d;
}
.PHI{
   background-color:#004c54 ;
   border-radius: 10px;
  border: 1px solid #004c54;
}
.SF{
     background-color:#aa0000 ;
   border-radius: 10px;
  border: 1px solid #aa0000;
}
.TB{
  
      background-color:#d50a0a ;
   border-radius: 10px;
  border: 1px solid #d50a0a;
}

.WAS{
      background-color:#773141 ;
   border-radius: 10px;
  border: 1px solid #773141;
}


