.card{
background-color: rgba(255, 255, 255, 0.4) !important;
border-radius: 12px;
border: 2px solid yellow;
}
.verticalText {
  margin-left: .5rem;
    position: absolute;
    top: 50%;
     transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}
.team-bg{
  flex: none;
  background-color: yellow;
}

.profileBtn{
  bottom: 0;
}

.fa-football-ball{
  color: green;
  position: relative;
}
.cardText{
  color: black;
  font-size: x-large;
  position: absolute;
  margin-top: -2.2rem;
}
